<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <canvas id="canvas"></canvas>
  <script>
    const canvas = document.getElementById('canvas')
    const ctx = canvas.getContext('2d')
    const rectPos = {
      x:30,
      y:30,
      time:2,
      unitSpeed:1
    }
    ctx.fillStyle = 'red'
    ctx.fillRect(rectPos.x,rectPos.y,30,30)
    function calculate(tx,ty) {
      const { x,y } = rectPos
      const absX = Math.abs(tx - x)
      const absY = Math.abs(ty - y)
      return Math.sqrt(absX*absX,absY*absY)
    }
    // 指定速度版本
    function moving(distance,tx,ty) {
      const { x,y,time,unitSpeed } = rectPos
      const xDirection = tx > x ? 1 : -1
      const yDirection = ty > y ? 1 : -1
      const absX = Math.abs(tx - x)
      const absY = Math.abs(ty - y)
      const rate = Math.abs(absX / absY)
      // console.log('absX',absX)
      
      const speedX = unitSpeed
      const speedY = unitSpeed  / rate
      console.log('speedX',absX,absY)
      const start = new Date().getTime()
      
      function loopMove() {
        const isOver = tx > x ? rectPos.x >=tx : rectPos.x <= tx
        rectPos.x += speedX * xDirection
        rectPos.y += speedY * yDirection
        ctx.clearRect(0,0,300,150)
        ctx.fillRect(rectPos.x,rectPos.y,30,30)
        if(!isOver) {
          requestAnimationFrame(loopMove)
        }
      }
      loopMove()
    }
    // 指定动画时间的版本
    // function moving(distance,tx,ty) {
    //   const { x,y,time,unitSpeed } = rectPos
    //   const xDirection = tx > x ? 1 : -1
    //   const yDirection = ty > y ? 1 : -1
    //   const absX = Math.abs(tx - x)
    //   const absY = Math.abs(ty - y)
    //   const start = new Date().getTime()
    //   let before = new Date().getTime()
    //   function loopMove() {
    //     const cur = new Date().getTime()
    //     // 计算当前时间所占总时间的比例
    //     const rate = (cur - before) / (1000 * time) 
    //     before = cur
    //     const speedX = rate * absX
    //     const speedY = rate * absY

    //     const isOver = (cur - start) >= (time * 1000) 
    //     // const isOver = tx > x ? rectPos.x >=tx : rectPos.x <= tx
    //     rectPos.x += speedX * xDirection
    //     rectPos.y += speedY * yDirection
    //     ctx.clearRect(0,0,300,150)
    //     ctx.fillRect(rectPos.x,rectPos.y,30,30)
    //     if(!isOver) {
    //       requestAnimationFrame(loopMove)
    //     }
    //   }
    //   loopMove()
    // }
    function moveRect(tx,ty) {
      const distance = calculate(tx,ty)
      moving(distance,tx,ty)
      console.log('distance',distance)
    }
    canvas.addEventListener('click',function(e) {
      const {left,top} = this.getBoundingClientRect()
      const tx = e.clientX - left
      const ty = e.clientY - top
      console.log('pos',tx,ty)
      moveRect(tx,ty)
    })
  </script>
</body>
</html>