<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    .control{
      position: absolute;
      top:30px;
      left:50px;
    }
  </style>
</head>
<body>
  <canvas id="canvas" width="500" height="500"></canvas>
  <div class="control">
    <span>stroke color</span>
    <select id="stroke">
      <option value="#000">black</option>
      <option value="red">red</option>
      <option value="green">green</option>
      <option value="blue">blue</option>
      <option value="orange">orange</option>
    </select>
    <span>fill color</span>
    <select id="fill">
      <option value="#000">black</option>
      <option value="red">red</option>
      <option value="green">green</option>
      <option value="blue">blue</option>
      <option value="orange">orange</option>
    </select>
    <label for="stroke">isFill</label>
    <input type="checkbox" checked class="checkbox">
    <label for="clear">isClear</label>
    <input type="checkbox"  class="clear">
    <input type="button" value="清除画布" class="button">
  </div>
  <script>
    const canvas = document.getElementById('canvas')
    const stroke = document.getElementById('stroke')
    const fill = document.getElementById('fill')
    const checkbox = document.getElementsByClassName('checkbox')[0]
    const button = document.getElementsByClassName('button')[0]
    const clear = document.getElementsByClassName('clear')[0]
    const ctx = canvas.getContext('2d')
    const w = canvas.width
    const h = canvas.height
    const ERASER_LINE_WIDTH = 1

    const ERASER_SHADOW_COLOR = 'rgb(0,0,0)'
    const ERASER_SHADOW_STYLE = 'blue'
    const ERASER_STROKE_STYLE = 'rgb(0,0,255)'
    const ERASER_SHADOW_OFFSET = -5
    const ERASER_SHADOW_BLUR = 20
    // 设置图像样式
    let strokeColor = '#000'
    let fillColor = '#000'
    let isChecked = true
    let mouseDown = {}
    let dragging = false
    let drawSurfaceImageData = {}
    let shape = 'circle'
    let isClear = false
    let lastX
    let lastY 
    stroke.onchange = function(e) {
      // console.log('stroke',e.target.value)
      strokeColor = e.target.value
    }
    fill.onchange = function(e) {
      // console.log('fill',e.target.value)
      fillColor = e.target.value
    }
    checkbox.onchange = function(e) {
      // 获取 checkbox 是否选中
      // console.log('checkbox',checkbox.checked)
      isChecked = checkbox.checked
    }
    button.onclick = function() {
      ctx.clearRect(0,0,w,h)
      grid(10,10)
    }
    clear.onchange = function(){
      isClear = clear.checked
    }

    /**
     * 保存恢复画板
     */ 
    function saveDrawingSurface() {
      drawSurfaceImageData = ctx.getImageData(0,0,w,h)
    }
    function restoreDrawingSurface() {
      ctx.putImageData(drawSurfaceImageData,0,0)
    }
        // 绘制背景
    function grid(stepX,stepY) {
      ctx.save()
      ctx.strokeStyle = '#aaa'
      ctx.fillStyle = '#fff'
      ctx.fillRect(0,0,w,h)
      ctx.lineWidth = 0.5
      // 列
      for(let x=stepX;x<w;x+=stepX) {
        ctx.beginPath()
        ctx.moveTo(x,stepY)
        ctx.lineTo(x,h-stepY)
        ctx.stroke()
      }
      // 行
      for(let y=stepY;y<h;y+=stepY) {
        ctx.beginPath()
        ctx.moveTo(stepX,y)
        ctx.lineTo(w-stepX,y)
        ctx.stroke()
      }
      ctx.restore()
    }
    grid(10,10)
    /**
     *  接收鼠标相对于窗口左上角的坐标位置,将他们转化成相对于canvas元素左上角的位置
     */
    function windowToCanvasLoc(x,y) {
      const canvasLoc = canvas.getBoundingClientRect()
      // 获取当前canvas相对于窗口左上角的位置
      const { top,left } = canvasLoc
      return {
        x:x-left,
        y:y-top
      }
    }
    function updateRubberbandCircle(loc) {
      // 和 mousedown 事件记录下的原点相比，计算出当前圆的半径
      const { x,y } = mouseDown
      // 根据两点坐标计算出圆的半径
      const r= Math.sqrt(Math.abs(loc.x-x)**2,Math.abs(loc.y-y)**2)
      ctx.beginPath()
      ctx.arc(x,y,r,0,2*Math.PI,true)
      console.log('isChecked',isChecked)
      if(isChecked) {
        ctx.fillStyle =  fillColor
        ctx.fill()
      }
      ctx.strokeStyle = strokeColor
      ctx.stroke()
    }
    function clip(x,y) {
      // 保存 clip 之前的 canvas 元素
      
      ctx.beginPath()
      if(shape === 'circle'){
        ctx.arc(x,y,10,0,Math.PI*2)
      }
      ctx.clip()
    }
    // 绘制一个半径 10 的圆来表示来表示当前绘制的
    function clipShape(x,y) {
      // 每次移动的时候将画布重置到移动前的样式，这样不会在canvas 上留下一堆圆圈
      // 
      ctx.beginPath()
      restoreDrawingSurface()
      ctx.arc(x,y,10,0,Math.PI*2)
      ctx.fill()
      // ctx.clip()
      // restoreDrawingSurface()

      // ctx.beginPath()
      // ctx.arc(x,y,1,0,Math.PI*2)
      // ctx.fillStyle = 'red'
      // ctx.fill()
      // restoreDrawingSurface()
    }
    canvas.onmousedown = function(e) {
      e.preventDefault()
      // 将绘制前的图像存储在对象中，
      saveDrawingSurface()
      // 存储鼠标相对于 canvas 左上角的位置
      mouseDown = windowToCanvasLoc(e.clientX,e.clientY)
      // console.log('mouse loc',e.clientX,e.clientY)
      lastX = mouseDown.x;
      lastY = mouseDown.y;
      dragging = true
    }
    canvas.onmousemove = function(e) {
      if(dragging) {
        e.preventDefault()
        const loc = windowToCanvasLoc(e.clientX,e.clientY)
        if(!isClear){
          // 每次重新绘制的时候将，首次的图像应用在 canvas 上，这里的作用和 clearRect 相同
          restoreDrawingSurface()
          updateRubberbandCircle(loc)
        }else{
          eraseLast(loc)
          drawEraser(loc)
        }
        lastX = loc.x;
        lastY = loc.y;
      }
    }
    // 放置出现一堆跟踪的圈
    function setErasePathForEraser(loc) {
      ctx.beginPath()
      ctx.arc(lastX,lastY,12,0,Math.PI*2)
      ctx.clip()
    }
    function drawEraser(loc) {
      ctx.beginPath()
      ctx.strokeStyle = 'red'
      ctx.arc(loc.x,loc.y,10,0,Math.PI*2)
      ctx.stroke() 
    }
    // 清空路径上的内容，并且比显示圈半径多1像素
    function eraseLast(loc) {
        ctx.save()
        setErasePathForEraser(loc)
        grid()
        ctx.restore()
    }
    function setEraserAttributes() {
        ctx.lineWidth     = ERASER_LINE_WIDTH;
        ctx.shadowColor   = ERASER_SHADOW_STYLE;
        ctx.shadowOffsetX = ERASER_SHADOW_OFFSET;
        ctx.shadowOffsetY = ERASER_SHADOW_OFFSET;
        ctx.shadowBlur    = ERASER_SHADOW_BLUR;
        ctx.strokeStyle   = ERASER_STROKE_STYLE;
    }


    canvas.onmouseup = function(e) {
      const loc = windowToCanvasLoc(e.clientX,e.clientY)
      if(!isClear){
        restoreDrawingSurface()
        updateRubberbandCircle(loc)
      }else{
        eraseLast(loc)
      }
      dragging = false
    }
  </script>
</body>
</html>