<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <canvas id="canvas" width="500" height="500"></canvas>
  <script>
    const canvas = document.getElementById('canvas')
    const ctx = canvas.getContext('2d')
    let origin = {}
    ctx.font = '40px blod'
    let text = '一段位置'
    // origin.x=canvas.width/2;
    // origin.y=canvas.height/2;

    // //将坐标轴平移到中心位置
    // ctx.transform(1,0,0,1,origin.x,origin.y);
    // ctx.rotate( 45 * Math.PI / 180)
    // ctx.fillText(text,0,0)

  </script>
</body>
</html>